// Place all the styles related to the textos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    max-width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.column p {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}